{% extends 'basic.html' %} 
{% block title %} Blog{% endblock title %}

{% block body %} 
{% load static %}

<section id="about" class="about">

    <div class="container">
        <div class="col-lg-4 col-md-6 col-xl-4 col-12 icon-box" data-aos="fade-up" style="">
            <div class="" style="margin-bottom:10px">
                <a href="/blog" class="btn btn-primary" data-mdb-ripple-init style="">Voir les publications</a>
            </div>
            <form class="d-flex input-group w-auto form-inline" action="{% url 'search'%}">
                <input type="search" class="form-control " placeholder="Recherche" aria-label="Search" name="publication"/>
            </form>
        </div>
        <br>
        <div class="section-title">
           <h2>Ajouter un commentaire</h2>
        </div>
        <div class="row" data-aos="fade-up">
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}<br>
                <input type="submit" name="Submit">

            </form>
        </div>
    </div>
</section><!-- End About Section -->

{% endblock body %}
